*.wav
*.ogg
*.jar
*.log
*~
*.lck
*.mry
*voice*
*.fuse_*
*/~lock.*
/Sonstiges/
/target/
/align/
/align_english/
/german-2/
/english/
/log/
/Logger/
log.txt*
/Artikel/*
!marytts-client-5.2-SNAPSHOT-jar-with-dependencies.jar
!marytts-lang-de-5.2-SNAPSHOT.jar
!marytts-runtime-5.2-SNAPSHOT-jar-with-dependencies.jar
!voice-bits3-5.1.jar
